<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="item" placeholder="add todo">
        <button type="submit">Submit</button>
    </form>
    {% for todos in todo_list %}
    <h1>{{ todos.item }}</h1>
    <a href="{% url 'delete' todos.id %}">Delete</a>


    {% endfor %}
    {% endblock %}
</body>

</html>